<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email Template</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Poppins&family=Roboto&display=swap");

      *,
      ::after,
      ::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Anton", sans-serif;
        font-family: "Montserrat", sans-serif;
        font-family: "Poppins", sans-serif;
        font-family: "Roboto", sans-serif;
      }

      body {
        background-color: red;
      }

      .wrapper {
        margin: 0 auto;
        width: 60%;
      }

      .top-nav {
        text-align: center;
        background-color: #101010;
        color: #ffffff;
        padding: 1.1em 1.6em;
        line-height: 1.1em;
      }

      .navbar {
        display: flex;
        background-color: #171717;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.1em;
      }

      .navbar .logo {
        height: 5rem;
        width: 5rem;
      }

      .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1.2rem;
      }

      .navbar ul li ion-icon {
        color: #ffffff;
        cursor: pointer;
        font-size: 40px;
      }

      .hero-section-1 {
        margin-top: 1rem;
        background: url("./instagram4.png") no-repeat center center/cover;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }

      .background-image-container-text {
        text-align: center;
        color: #ffffff;
        font-size: 1.8rem;
      }

      .hero-section-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;
      }

      .greeting-heading {
      }

      .greeting-description {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
      }

      .greeting-description h6 {
        font-size: 1.5rem;
      }

      .paragraph-description-1 {
        margin-bottom: 2rem;
      }

      .paragraph-description-2 {
        margin-bottom: 3rem;
      }

      .hero-section-3 img {
        height: 25rem;
        width: 25rem;
        border-radius: 1rem;
      }

      .products-services-feature {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .products-services-feature-2 {
        text-align: center;
        margin-top: 2rem;
        font-size: 1.5rem;
      }

      .products-services-feature-2 span {
        color: #b140d6;
        font-size: 700;
      }

      footer {
        margin-top: 3rem;
      }

      .footer-feature-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f7f6f5;
        color: #101010;
        gap: 2rem;
      }

      .footer-feature-1 .logo-container img {
        height: 2rem;
        width: 10rem;
      }

      .footer-feature-1 .social-links-container {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      .footer-feature-1 .social-links-container li ion-icon {
        font-size: 36px;
      }

      .footer-feature-2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #072b52;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
      }

      .footer-feature-2 .terms-conditions {
        text-align: center;
      }

      .footer-feature-2 .copyrights-unsubscribe {
        text-align: center;
      }

      .footer-feature-2 a {
        color: #ffffff;
      }

      @media screen and (max-width: 768px) {
        .wrapper {
          width: 100%;
        }

        .hero-section-3 img {
          width: 10rem;
          height: 10rem;
        }
      }
    </style>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      defer
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
      defer
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="top-nav">Liquids|LifeStyle|Health|Cleaner</div>
      <nav class="navbar">
        <img src="./logo-white (1).png" alt="Logo Png" class="logo" />
        <ul>
          <li><ion-icon name="logo-instagram"></ion-icon></li>
          <li><ion-icon name="logo-facebook"></ion-icon></li>
          <li><ion-icon name="logo-twitter"></ion-icon></li>
        </ul>
      </nav>
      <div class="main">
        <div class="hero-section-1">
          <div class="background-image-container-text">
            We Care for you That's why we're always there for you!
          </div>
        </div>
        <div class="hero-section-2">
          <div class="greeting-heading">
            <h1>Thank you for choosing us</h1>
          </div>
          <div class="greeting-description">
            <h6>Hey There {{name}}</h6>
            <p class="paragraph-description-1">
              quibusdam ea repellat magnam illo quisquam quo blanditiis
              architecto nobis unde vel voluptatem nulla voluptas
            </p>
            <p class="paragrap-description-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              saepe repellendus earum omnis aspernatur reprehenderit ipsa
              perspiciatis molestiae, qui quaerat aperiam inventore? Tempore,
              cum distinctio!
            </p>
          </div>
        </div>
        <div class="hero-section-3">
          <div class="products-services-feature">
            <img src="./images/1.jpg" alt="Logo Not found" />
            <img src="./images/2.jpg" alt="Logo Not found" />
            <img src="./images/3.jpg" alt="Logo Not found" />
            <img src="./images/4.jpg" alt="Logo Not found" />
            <img src="./images/6.jpg (1).jpg" alt="Logo Not found" />
            <img src="./images/6.jpg" alt="Logo Not found" />
          </div>
          <div class="products-services-feature-2">
            Keep Sharing with us by tagging <span>#Britacel_LifeStyle</span>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer-feature-1">
          <div class="logo-container">
            <img src="./logo-black.png" alt="Logo.png" />
          </div>
          <ul class="social-links-container">
            <li><ion-icon name="logo-instagram"></ion-icon></li>
            <li><ion-icon name="logo-youtube"></ion-icon></li>
            <li><ion-icon name="logo-facebook"></ion-icon></li>
            <li><ion-icon name="logo-twitter"></ion-icon></li>
          </ul>
        </div>
        <div class="footer-feature-2">
          <div class="terms-conditions">
            <a href="#">Terms and Conditions</a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
              illum placeat vero provident aliquid unde vitae sapiente porro
              repellat eius.
            </p>
          </div>
          <div class="copyrights-unsubscribe">
            <h4>
              &copy;CopyRights2022.Britacel Healthcare All Rights Reserved
            </h4>
            <p><a href="#">Unsubscribe</a></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
